<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brainquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainQuiz">
        <activity android:name=".activities.MathRiddlesActivity"/>
        <activity android:name=".activities.FailScreenNumberMemoryActivity"  />
        <activity android:name=".activities.LeaderboardActivity" />
        <activity
            android:name=".activities.LastStateNumMemoryActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activities.NumberMemoryActivity" />
        <activity
            android:name=".activities.NumberMemorySecActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>